/* p {
    background-color: black;
}

#parag_id {
    background-color: aqua;
}

.parag_class {
    background-color: blueviolet;
} */


#parag_id {
    color: red;
    color: #ff0000;
    color: rgb(red, 0, 0);
    color: hsl(0, 100%, 50%);
    color: hsla(0, 100%, 50%, 0.9);

    background-color: blueviolet !important;
    background-color: black;

    /* padding: 10px 50px 30px 5px; */
    /* padding: 20px 100px; */
    /* padding: 20px 50px 10px; */
    /* padding: 100px; */
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 100px;

    /* margin: 50px; */
    /* margin: 50px 5px; */

    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 100px;


}

/* border border-radius */

#div_id {
    background-color: black;
    color: orange;
    padding: 25px;
    margin-bottom: 30px;
    /* border-radius: 30px; */
    border-style: solid;
    border-color: blueviolet;
    border-width: 3px;
    border: 3px solid blueviolet;
    /* border-radius: 2px 50px 15px 100px; */
    /* border-radius: 10px 59px; Saat yönünden etki ediyor bu şekilde yazınca ilki sol üst, sağ alt - 
    ikincisi sağ üst, sol alt. */
    border-top-left-radius: 100px;

}
/* TEXT */

#parag_id_2 {

  font-family: "Kode Mono", monospace;
  background-color: black;
  color: orange;
  font-size: 10px;
  font-weight: 200px;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  line-height: 2;
  word-spacing: 15px;
  padding: 20px;
  letter-spacing: 10px;
  text-shadow: 10px 10px 10px red;
  
}
/* COLUMN COUNT */

.column-container {
    column-count: 3;
    /* Sütunların arasında ki mesafe; */
    column-gap: 200px; 
    column-rule: 2px solid blue;
    text-transform: capitalize;
    text-align: justify;

}

/* LINE CLAMP */

.line_clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    overflow: hidden;
    -webkit-box-orient: vertical;
    
    /* DİĞER TARAYICILAR DA DESTEKLENMESİ İÇİN */
    display: -moz-box;
    -moz-line-clamp: 5;
    -moz-box-orient: vertical;
}
